.typing-motion {
  --cursor-color: #ffc107;
  --tag-color: #ffc107;
  --code-text-color: #d7d7d7;
  --font-size: 14px;
  --blink-time: 750ms;
}

.typing-motion {
  font-size: var(--font-size);
  display: flex;
  padding: 10px;
  background: #112421;

  &.code {
    display: inline-block;
    font-family: var(--code-font-family);
    color: var(--code-text-color);
  }

  .tag {
    .tag-name {
      color: var(--tag-color);
    }
  }

  .typing-text {
    min-height: var(--font-size);
    white-space: pre-wrap;
    box-sizing: content-box;
    display: inline-block;

    .text-cursor {
      margin-left: 1px;
      background: var(--cursor-color);

      &.blink {
        box-sizing: content-box;
        animation: borderBlink var(--blink-time) step-end infinite;
      }

      @keyframes borderBlink {
        from,
        to {
          background: var(--cursor-color);
        }
        50% {
          background: transparent;
        }
      }
    }
  }
}
