@import '_reset';
@import './_variables/index';

@import './fonts';

:root {
  --code-font-family: 'Fira Code', 'Ubuntu', 'Noto Sans TC', source-code-pro,
    Menlo, Monaco, Consolas, 'Courier New', monospace;
  --code-font-family-supports: 'Fira Code VF', 'Fira Code', source-code-pro,
    Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-size: 14px;
}

html,
body {
  font-family: 'Ubuntu', 'Noto Sans TC', sans-serif;
  font-weight: var(--font-regular);
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-canvas);
  color: var(--color-text-primary);
}

code {
  font-family: var(--code-font-family);
}

@supports (font-variation-settings: normal) {
  code {
    font-family: var(--code-font-family-supports);
  }
}

a,
a:link,
a:any-link,
a:focus,
a:focus-within,
a:hover,
a:visited,
button,
button:active,
button:focus,
button:focus-within,
button:hover,
button:visited,
input,
input:active,
input:focus,
input:focus-within,
input:hover,
input:visited,
textarea,
textarea:active,
textarea:focus,
textarea:focus-within,
textarea:hover,
textarea:visited {
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--color-text-primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
}
