.dark-mode {
  // background-color
  --main-bg-color: #191923;
  --secondary-bg-color: #20202a;
  --gradient-down-dark-bg-color: linear-gradient(
    180deg,
    #3e3e44fa 0%,
    var(--secondary-bg-color) 100%
  );
  --gradient-up-dark-bg-color: linear-gradient(
    0deg,
    #2a2a31fa 0%,
    var(--secondary-bg-color) 100%
  );

  // font-color
  --fong-color-high: #ffffff;
  --font-color-main: #fafafc;
  --font-color-secondary: #acacac;
  --font-color-gray: #8c8c8e;
}
.light-mode {
  --main-bg-color: #e0e0e6;
}
