:root {
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --size-xs: 8px;
  --size-s: 11px;
  --size-m: 14px;
  --size-l: 17px;
  --size-ml: 20px;
  --size-xl: 24px;
  --size-2l: 32px;
  --size-3l: 40px;

  --size-main-header-title: 60px;
  --size-sub-header-title: 20px;
}
