@use '../../styles/devices' as device;

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  padding: 0 var(--space-8);
  height: 60px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 0.8rem black;

  .nav-brand {
    position: absolute;
    width: fit-content;
    right: var(--space-4);
    color: var(--color-header-logo);
    font-size: var(--size-l);
    font-weight: var(--font-medium);
  }

  .nav-link-container {
    display: none;
  }
}

@include device.size(pad-h) {
  .nav-bar {
    .nav-brand {
      right: auto;
      font-size: var(--size-ml);
      font-weight: var(--font-bold);
    }

    .nav-link-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .nav-link-item {
        color: var(--color-header-logo);
        font-size: var(--size-l);
        font-weight: var(--font-bold);
        &:not(:last-of-type) {
          margin-right: var(--space-8);
        }
      }
    }
  }
}
