@use '../../styles/devices' as device;

.about-page {
  .header {
    position: relative;
    background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0;

    &-overlay {
      padding: 90px 0 80px;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d78;

      .header-title {
        text-align: center;
        color: var(--fong-color-high);
        text-shadow: 0 0 1rem black;

        &__main {
          font-size: var(--size-main-header-title);
          margin-bottom: var(--space-4);
        }

        &__sub {
          font-weight: var(--font-light);
          font-size: var(--size-sub-header-title);

          p {
            margin-bottom: var(--space-1);
          }
        }
      }
    }
  }

  .info-content-container {
    box-sizing: border-box;
    height: var(--content-height);
    overflow-y: auto;

    &__content {
      color: var(--font-color-secondary);
      padding: var(--space-10);
      line-height: var(--space-7);
      letter-spacing: 0.1px;
      font-size: var(--size-l);
      font-weight: var(--font-regular);

      p {
        margin-bottom: var(--space-3);
      }
    }
  }
}

@include device.size(pad-v) {
}
