@use '../../styles/devices' as device;

.about-page {
  .content {
    color: var(--color-text-primary);
    padding: var(--space-10);
    line-height: var(--space-7);
    letter-spacing: 0.1px;
    font-size: var(--size-m);
    font-weight: var(--font-regular);

    p {
      margin-bottom: var(--space-3);
    }
  }
}

@include device.size(pad-v) {
}
