@use '../../styles/devices' as device;

.side-bar {
  --bar-width: 100%;
  --max-bar-width: 375px;
  --icon-margin-t: var(--space-5);
  --icon-margin-x: var(--space-5);
  --avatar-size: 100px;

  --header-height: 350px;
  --footer-height: 60px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));

  --transition-left: left 300ms ease-in-out;

  --color-side-bar-background: linear-gradient(
    180deg,
    #37373ffa 0%,
    var(--color-header-bg) 10%,
    var(--color-header-bg) 90%,
    #37373ffa 100%
  );
}

.side-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: calc(-1 * var(--max-bar-width));
  height: 100vh;
  width: var(--bar-width);
  max-width: var(--max-bar-width);
  color: var(--color-text-primary);
  background: var(--color-side-bar-background);
  transition: var(--transition-left);

  @media all and(max-width: 375px) {
    left: calc(-1 * var(--bar-width));
  }

  .toggle {
    background: none;
    position: absolute;
    top: var(--icon-margin-t);
    right: var(--icon-margin-x);
    z-index: 110;
    transition: var(--transition-left);
    transform: rotateY(180deg);

    .icon-toggle {
      width: 16px;
      transition: var(--transition-left);
      filter: drop-shadow(0 0 7px #000000);
    }
  }

  .go-home-icon-link {
    position: absolute;
    top: var(--icon-margin-t);
    left: calc((var(--bar-width) + var(--icon-margin-x)) * -1);
    z-index: 100;
    padding: var(--space-1);
    transition: var(--transition-left);

    &__icon {
      width: 16px;
    }
  }

  .info-header {
    position: relative;
    box-sizing: border-box;
    padding-top: var(--space-10);
    height: var(--header-height);
    text-align: center;
    background: var(--gradient-down-dark-bg-color);

    .avatar {
      margin-bottom: var(--space-6);
      &__image {
        object-fit: cover;
        border-radius: 50%;
        width: var(--avatar-size);
        height: var(--avatar-size);
      }
    }

    .name {
      font-size: var(--size-xl);
      margin-bottom: var(--space-3);
    }

    .title {
      font-size: var(--size-l);
      color: var(--color-text-gray);
      margin-bottom: var(--space-4);
    }

    .typing-motion-container {
      box-sizing: border-box;
      height: calc(10px * 2 + 14px * 2);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .personal-links {
      box-sizing: border-box;
      width: 100%;
      padding: var(--space-4) var(--space-4);
      background: var(--color-header-bg);

      display: flex;
      justify-content: space-around;
      align-items: center;

      &-link {
        &__icon {
          width: 16px;
        }
      }
    }

    hr.divider {
      width: 80%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0)
      );
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #37373ffa;
  }

  .info-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: var(--content-height);
    overflow-y: scroll;
    padding: var(--space-5);

    &__link {
      font-size: var(--size-ml);
      color: var(--color-text-secondary);
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: var(--space-6);
      }
    }
  }

  .info-footer {
    width: 100%;
    height: var(--footer-height);
  }

  &.expand {
    left: 0;
    .go-home-icon-link {
      position: absolute;
      left: calc(var(--icon-margin-x));
    }
  }
}

@include device.size(pad-h) {
  .side-bar {
    display: none;
  }
}
