.side-bar {
  position: relative;
  color: var(--font-color-light);
  background: #324540;
  height: 100%;
  width: 0px;

  transition: width 500ms ease-in-out;

  .toggle {
    color: var(--font-color-light);
    position: fixed;
    top: var(--space-2);
    left: var(--space-2);
  }

  &.expand {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .side-bar {
    width: 320px;

    .toggle {
      color: var(--font-color-light);
      position: absolute;
      left: auto;
      right: var(--space-2);
    }
  }
}
