.footer {
  box-sizing: border-box;
  width: 100%;
  color: var(--color-text-secondary);
  padding: var(--space-10);
  padding-bottom: calc(var(--space-10));

  hr.divider {
    margin: 0 calc(-1 * var(--space-10));
    width: 100vw;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0)
    );
  }

  &-container {
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-10);

    .content {
      text-align: center;
    }
  }
}
